<body class="body">
    <mat-toolbar color = "primary" class="navbar">
        <div class="navbar">
            <a routerLink="/home" >Home</a>
            <a routerLink="/aboutus" routerLinkActive="active" >About Us</a>
            <a routerLink="/contactus">Contact US</a>
            <a>Logout</a>
           
        </div></mat-toolbar>
        <div class="bg">
          <section id="aboutus">
            <div class="container">
              <div class= "row">
                <div class="col-sm-7">
                  <h2 class="text-center abc">Tushar Routray</h2>
                  <p style="color:black"><i>Hi,This is Tushar,  an analyst at Capgemini, developer and tech enthusiast. Just completed graduation and trying my hands on real time projects. I am a beginner and learning to develope responsive websites. This is my first project and here i have implemeted the skills learnt so far. Feel free to reach out.</i>     
                  <div class="row">
                    <div class="col-1">
                      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-1">
                      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-1">
                      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="img-wrap">
                    <img src="../../assets/tushar.jpeg">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
            
           
</body>        
        